/* Header Styles */
header img {
  max-height: 100%;
}

header h1 {
  display: inline-block;
  margin-left: 25px;
  text-transform: lowercase;
  color: #ddd;
  font-size: 26px;
  vertical-align: middle;
}

.icon-menu {
  position: absolute;
  right: 30px;
  top: 0;
  width: 25px; 
  margin-top: 35px;
  font-size: 38px;
  color: #ddd;
}

/* Nav Styles */
.nav {
  display: none;
  background-color: #888;
}

.nav a {
  text-decoration: none;
  color: #ddd;
}

.nav a:hover { cursor: pointer; }

.nav li {
  padding: 2vw 4vw;
}