/* Book Views */
.book-image {
  position: absolute;
  background-color: #bbb;
  max-height: 65%;
  align-content: center;
  width: 100%;
}

.book-content {
  position: absolute;
  bottom: 0;
  background-color: #444;
  border: 1px solid #444;
  width: 100%;
}

.book-title {
  font-size: 22px;
  text-transform: lowercase;
  color: #ddd;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.book-author {
  font-size: 16px;
  font-style: italic;
  text-transform: lowercase;
  color: #ddd;
  margin-left: 15px;
  margin-bottom: 75px;
}