.mobile {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #444;
  height: 60px;
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  z-index: 1;
  /* justify-content: center; */
}

.books {
  margin: 75px 0 25px 25px;
  font-size: 26px;
  text-transform: lowercase;
  text-decoration: underline;

}

.books-api {
  position: relative;
  display: flex;
  margin: 25px;
  border: 1px solid #bbb;
  border-radius: 5px;
  height: 375px;
  margin-bottom: 50px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #444;
  flex-shrink: 0;
}